# Python virtual environments
finpulse_env/
.venv/
venv/
ENV/
env/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Kafka binary distribution
kafka_*/
kafka/

# Large datasets
*.csv
FinPulse/data/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# Machine Learning Artifacts
catboost_info/
FinPulse/catboost_info/
